@lightGrey: #f7f7f7;
@mediumGrey: #c1c1c1;
@darkGrey: #3E5161;
@successGreen: #006633;
@errorRed: #880000;
@serif: 'Volkhorn', serif;

body {
  color: @darkGrey;
  font-family: @serif;
  font-size: 16px;
  background-color: @lightGrey;
  padding-top: 70px;
}

#rdFooter {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background: @mediumGrey;
}

.error {
  color: @errorRed;
  font-weight: bold;
}

.success {
  color: @successGreen;
  font-weight: bold; 
}

.authLink {
  cursor: pointer;
}