@lightGrey: #f7f7f7;
@mediumGrey: #c1c1c1;
@darkGrey: #3E5161;
@successGreen: #006633;
@errorRed: #880000;
@serif: 'Volkhorn', serif;
@headerHeight: 60px;
@footerHeight: 60px;

body {
  color: @darkGrey;
  font-family: @serif;
  font-size: 16px;
  background-color: @lightGrey;
  margin:0;
  padding:0;
  height:100%;
}

#rdContent {
  padding: 10px;
  padding-top: @headerHeight;
  padding-bottom: @footerHeight; 
}

.footerWrapper {
   height: @footerHeight;
   background: @mediumGrey;
}

.error {
  color: @errorRed;
  font-weight: bold;
}

.success {
  color: @successGreen;
  font-weight: bold; 
}

.footerTag {
  margin-top: 20px;
  text-align: right;
}

.authLink {
  cursor: pointer;
}