body {
  color: #3e5161;
  font-family: 'Volkhorn', serif;
  font-size: 16px;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100%;
}
#rdContent {
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footerWrapper {
  height: 60px;
  background: #c1c1c1;
}
.error {
  color: #880000;
  font-weight: bold;
}
.success {
  color: #006633;
  font-weight: bold;
}
.footerTag {
  margin-top: 20px;
  text-align: right;
}
.authLink {
  cursor: pointer;
}
