body {
  color: #3e5161;
  font-family: 'Volkhorn', serif;
  font-size: 16px;
  background-color: #f7f7f7;
  padding-top: 70px;
}
#rdFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: #c1c1c1;
}
