<h3>{{user.fullName}}</h3>

<a href = 'auth/facebook' target='_blank'> connect facebook </a>
{{#ifCond facebookStatus '==' 'success'}}
  <span class='success'>ok!</span>
{{/ifCond}}
{{#ifCond facebookStatus '==' 'fail'}}
  <span class='error'>fail!</span>
{{/ifCond}}
<br>

<a href = 'auth/linkedIn' target='_blank'> connect linkedIn </a>
{{#ifCond linkedInStatus '==' 'success'}}
  <span class='success'>ok!</span>
{{/ifCond}}
{{#ifCond linkedInStatus '==' 'fail'}}
  <span class='error'>fail!</span>
{{/ifCond}}