<h3>
  {{#if contact}}
    {{contact.fullName}}
  {{else}}
    Contact not found
  {{/if}}
</h3>

{{#if contact.imageURL}}
  <img src='{{contact.imageURL}}' style='width:100px;height:100px;'/>
{{/if}}

number of touches: {{contact.numTouches}}

{{#if contact.emails}}
  <br/>
  <h4><b>Emails</b></h4>
  {{#each contact.emails}}
    <p>{{this}}</p>
  {{/each}}
{{/if}}


{{#if fbUser}}
  <br/>
  <h4><b>Facebook profile</b></h4>
  <pre>
    {{fbUser}}
  </pre>
{{/if}}


{{#if liUser}}
  <br/>
  <h4><b>LinkedIn profile</b></h4>
  <pre>
    {{liUser}}
  </pre>
{{/if}}